    <footer class="footer">
    	<div class="footer-container">
    		<div class="footer-top">
	    		<div class="footer-contact">
	    			<a href="tel:+83904262055" class="footer__number">+7 (342) 216-22-27</a>
	    			<a href="#" class="footer__request">Request a call</a>
	    			<div class="footer-contact__links">
	    				<img src="img/mail.png" alt="" class="footer-contact__img">
	    				<a href="mailto:info@dental-practice.ru" class="footer-contact__link">info@dental-practice.ru</a>
	    			</div>
	    			<div class="footer-contact__links">
	    				<img src="img/point.png" alt="" class="footer-contact__img">
	    				<a href="" class="footer-contact__link">Raboche-Krestyanskaya st. 6.</a>
	    			</div>
	    			<div class="footer__privacy">Privacy Policy © 2020 All rights reserved.</div>
	    		</div>
	    		<div class="footer-list footer__services">
	    			<div class="footer-list__title">Services</div>
	    			<ul class="footer-list__ul">
	    				<li class="footer-list__item">Dental treatment</li>
	    				<li class="footer-list__item">Hygiene</li>
	    				<li class="footer-list__item">Children's dentistry</li>
	    				<li class="footer-list__item">Diagnostics</li>
	    				<li class="footer-list__item">Dental implantation</li>
	    				<li class="footer-list__item">Bite Correction</li>
	    				<li class="footer-list__item">Tooth extraction</li>
	    				<li class="footer-list__item">Dental prosthetics</li>
	    				<li class="footer-list__item">Teeth whitening</li>
	    				<li class="footer-list__item">Crowns</li>
	    				<li class="footer-list__item">Surgical dentistry</li>
	    			</ul>
	    		</div>
	    		<div class="footer-list footer__documents">
	    			<div class="footer-list__title">Documents</div>
	    			<ul class="footer-list__ul footer-list__ul">
	    				<li class="footer-list__item-d"><a href="#">Consent to processing personal data</a></li>
	    				<li class="footer-list__item-d"><a href="#">License to provide of services</a></li>
	    			</ul>
	    		</div>
	    		<div class="footer-documents"></div>
    		</div>
    		<div class="footer-bottom">
    			<div class="footer__offer">This page is for informational purposes only and is not a public offer. The cost of services may not be relevant. Check the price by phone.</div>
    		</div>
    	</div>
    </footer>
    <script src="js/libs.js"></script> 
    <script src="js/main.js"></script> 
</body>
</html>