<header class="header">
	<div class="header-container">
		<div class="header-top">
			<a href="tel:+83904262055" class="header-top-contact">
				<div class="header-top-contact-left">
					<img src="img/phone.png" alt="">
				</div>
				<div class="header-top-contact-right">
					<span class="header-top__text">Contact us</span>
					<span class="header-top__phone">+7(342)216-22-27</span>
				</div>
			</a>
			<div class="header-top-logo">
				<div class="header-top-logo__letters">
					<span class="header-top-logo__symb1">:D</span>
					<span class="header-top-logo__symb2">:P</span>
				</div>
				<h1 class="header-top-logo__title">:Dental :Practice </h1>
			</div>
			<div class="header-top-time">
				<div class="header-top-time-left">
					<img src="img/clock.png" alt="">
				</div>
				<div class="header-top-time-right">
					<span class="header-top-time__open">Open now</span>
					<div class="header-top-time__schedule">Today we work until 19.00</div>
				</div>
			</div>
		</div>
	</div>
</header> 